<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BackgroundAI</title>
    <link rel="stylesheet" href="./static/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <img src="./static/images/second-curve.svg" alt="SVG Image 1" class="curve" />
    <img src="./static/images/top-curve.svg" alt="SVG Image 2" class="curve" />
    <header>
      <div class="left-header">
        <img src="./static/images/BackAI-Logo.png" class="logo" />
        <nav>
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Transparency</a>
        </nav>
      </div>
      <div class="right-header">
        <a>Log In</a>
        <button style="background: #D7D7D7;">
            <a style="font-weight: 600;">Sign Up</a>
        </button>
      </div>
    </header>
    <div class="hero">
      <div class="left">
        <svg xmlns="http://www.w3.org/2000/svg" width="89" height="2" viewBox="0 0 89 2" fill="none">
          <line y1="1" x2="89" y2="1" stroke="#FF0066" stroke-width="2"/>
        </svg>
        <h1><span style="color: #f07;">AI-Powered</span> Image Background Removal</h1>
        <p>Your personal, no hassle, one click rapid image background removal and replacement.  Powered with DALL-E.</p>
        <div style="display: flex; gap: 32px; align-items: center;">
          <a href="/upload"><button style="background: #f07; cursor: pointer;"><p style="color: #FFF;">Get Started</p></button></a>
          <p>Learn More</p>
        </div>
      </div>
      <img src="./static/images/AI-Power.svg">
    </div>
    <img src="./static/images/triangle.svg" id="triangle">
    <img src="./static/images/squiggle.svg" id="squiggle">
  </body>
</html>
