body {
  background: #fcfcfc;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #101828;
  font-size: 40px;
  line-height: 120%;
  /* 48px */
  letter-spacing: -2%;
  margin: 0px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #667085;
  font-size: 16px;
  margin: 0px;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #667085;
  font-size: 16px;
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 86vw;
  height: 80px;
  flex-shrink: 0;
  margin-top: 24px;
  padding: 0px 7vw;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

button {
  display: flex;
  padding: 15px 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: none;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}

.right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  flex-direction: row;
}

.logo {
  width: 116px;
  height: 43px;
}

.hero {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  width: 72vw;
  align-items: center;
}

.hero>h1 {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 71px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #262626;
}

.hero>#form-steps {
  position: relative;
}

#deco-items {
  position: absolute;
  top: 40%;
  left: calc(50vw - 454px);
  z-index: -1;
}

.hero>.upload-container {
  box-sizing: border-box;
  position: absolute;
  width: 323px;
  height: 323px;
  border: 1px dashed #000000;
  border-radius: 27px;
  z-index: 1;
}

.upload-container>#upload-image {
  position: absolute;
  width: 80px;
  height: 100px;
  left: calc(50% - 40px);
  top: 20%;
  z-index: 2;
}

.upload-container > form > #image-label {
  position: absolute;
  left: calc(50% - 210px/2);
  top: 210px;
  width: 210px;
  height: 75px;
  line-height: 75px;
  background: #FF0066;
  border-radius: 71px;
  align-items: center;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#file {
  display: none;
}

.image-display {
  border-radius: 10px;
  border-width: 2px;
  border-color: #E4E4E4;
  border-style: solid;
}
